:root {
    --color-background: #faf8f7;
    --color-dark-warm: #201e1c;
    --color-dark: #282623;
    --color-light: #fff;
    --color-ligt-darker: #bababa;
    --color-primary-soft: #ffe9d4;
    --color-primary: #f7931a;
    --color-secondary-soft: #e7f5ff;
    --color-secondary: #1a9af7;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

header {
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    display: flex;
    flex-direction: column;
    height: 334px;
    justify-content: center;
    min-width: 320px;
    position: relative;
    text-align: center;
    width: 100%;
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    color: var(--color-light);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.header--title-container p {
    color: var(--color-primary-soft);
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 25px;
    line-height: 1.8rem;

}

.header--title-container .header--button {
    text-decoration: none;
    color: var(--color-dark-warm);
    font-weight: 700;
    font-size: 1.4rem;
    padding: 12px 16px;
    margin-top: 35px;
    width: 231px;
    height: 48px;
    position: absolute;
    top: 270px;
    left: calc(50% - 116px);
    display: block;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    background-color: var(--color-background);
}

.header--button span {
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-left: 5px;
    background-image: url("./asets/icons/arrow_down.svg");
}

main {
    background-color: var(--color-background);
    height: auto;
    width: 100%;
}

.main-exchange-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 30px;
    padding-top: 80px;
    width: 100%;
}

.main-exchange-container .backgroundImg {
    background-image: url("./asets/imgs/bitcoin.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    margin-bottom: 50px;
    width: 200px;
}

.main-exchange-container--title {
    max-width: 900px;
    min-width: 288px;
    text-align: center;
    width: 90%;
}

.main-exchange-container--title h2 {
    color: var(--color-dark-warm);
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
}

.main-exchange-container--title p {
    color: #757575;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    margin: 30px auto;
}

.main-tables-container {
    display: flex;
    gap: 60px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    width: 100%;
    padding: 0 65px;
    min-width: 235px;
    max-width: 600px;
    justify-content: space-between;
}

.main-tables-container div {
    scroll-snap-align: center;
}

.main-tables-container h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.8rem;
    margin-left: 1.6rem;
    line-height: 2.3rem;
}

.currency-table--title {
    color: #ff9536;
}

.table--container {
    display: grid;
    width: 90%;
    min-width: 197px;
    max-width: 300px;
    gap: 1px;
    grid-template-columns: 1fr 1fr;
    position: relative;
    font-family: "inter", sans-serif;
}

.table--container p {
    padding: 10px 12px;
    background-color: var(--color-light);
    line-height: 1.9rem;
}

.table--value {
    color: #b5b0ac;
    font-size: 1.6rem;
    font-weight: 500;
}

.table--price {
    color: #757575;
    font-size: 1.4rem;
    text-align: center;
}

.table--price span {
    display: inline-block;
    margin-left: 20px;
    width: 15px;
    height: 15px;

    background-position: center;
    background-repeat: no-repeat;
}

.table--container .trending-down {
    background-image: url("./asets/icons/trending-down.svg");
}

.table--container .trending-up {
    background-image: url("./asets/icons/trending-up.svg");
}

.table--container .top-left {
    border-top-left-radius: 15px;
}

.table--container .top-rigth {
    border-top-right-radius: 8px;
}

.table--container .bottom-left {
    border-bottom-left-radius: 8px;
}

.table--container .bottom-rigth {
    border-bottom-right-radius: 8px;
}

.table--title {
    color: var(--color-secondary);
}

.table--date {
    border-radius: 8px;
    color: var(--color-dark-warm);
    height: 32px;
    margin: 16px auto;
    padding: 8px;
    text-align: center;
    width: 190px;
}

.table--date p {
    font-size: 1.2rem;
    font-family: "inter", sans-serif;
    line-height: 1.5rem;
    color: var(--color-dark);
}

.table--date p b {
    font-weight: 700;
}

.currency--date {
    background-color: #ffe9d4;
}

.exchange--date {
    background-color: var(--color-secondary-soft);
}

.main-product-detail {
    background-color: var(--color-dark-warm);
    height: 900px;
    padding: 70px 16px 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 320px;
}

.main-product-detail img {
    position: absolute;
    top: -10px;
}

.product-detail--title {
    display: inline-block;
    height: 94px;
    margin-bottom: 28px;
    width: 90%;
    min-width: 288px;
    text-align: center;
}

.product-detail--title h1 {
    color: var(--color-light);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;

}

.product-detail--title p {
    color: #808080;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 20px;
}

.product-cards--container {
    max-width: 400px;
    min-width: 288px;
    width: 100%;
}

.product-detail--card {
    background-color: var(--color-dark);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    min-height: 150px;
    margin-bottom: 18px;
    padding: 14px 16px;
}

.product-detail--card span {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.product-cards--clock {
    background-image: url(/asets/icons/clock.svg);
}

.product-cards--eye {
    background-image: url(/asets/icons/eye.svg);
}

.product-cards--dollar {
    background-image: url(/asets/icons/dollar-sign.svg);
}

.product-cards--check {
    background-image: url(/asets/icons/check-circle.svg);
}

.product--card-title {
    color: var(--color-light);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    margin-bottom: 15px;
    margin-top: 8px;
}

.product--card-body {
    color: #808080;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.bitcoin-img-container {
    background-image: url(/asets/imgs/bitcoinbabyx2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 100%;
    height: 50vh;
    min-width: 320px;
}

.bitcoin-img-container h2 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--color-light);
    padding-top: 66px;
}

.main-plans-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    background-color: var(--color-background);
}

.plans--title {
    width: 90%;
    text-align: center;
    min-width: 288px;
    margin: 0 auto;
}

.plans--title h2 {
    color: var(--color-dark-warm);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    padding: 50px 12px 16px;
}

.asd {}

.plans--title p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 10px 12px 40px;
    color: #757575;
}

.plans-container--slider {
    display: flex;
    max-width: 800px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding: 20px 30px 0;
    gap: 5px;
    width: 100%;
    max-width: 850px;
    justify-content: space-between;
}

.plans-container--card {
    background-color: var(--color-light);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    height: 247px;
    margin: 5px;
    max-width: 300px;
    min-width: 190px;
    padding: 15px;
    position: relative;
    scroll-snap-align: center;
    width: 70%;
}


.recomended {
    background-color: var(--color-primary);
    border-radius: 8px;
    color: var(--color-light);
    font-size: 1.2rem;
    font-weight: 700;
    height: 31px;
    left: calc(50% - 60px);
    line-height: 1.45rem;
    padding: 8px;
    position: absolute;
    text-align: center;
    top: -15px;
    width: 120px;
}


.plan-info-container {
    text-align: center;
}

.plan-card--title {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-top: 15px;
    padding-bottom: 10px;
    color: black;
}

.plan-card--price {
    font-family: "inter", sans-serif;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 6.3rem;
    position: relative;
}

.plan-card--price span {
    color: #363636;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    position: absolute;
    left: calc(50% - 42px);
    top: 10px;
}

.plan-card--saving {
    font-family: "inter", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #757575;
    padding: 10px 0;
    margin-bottom: 12px;
}

.plan-card--ca {
    align-items: center;
    background-color: var(--color-background);
    border-radius: 4px;
    border: 2px solid var(--color-primary);
    color: var(--color-dark-warm);
    display: flex;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    height: 48px;
    justify-content: space-between;
    line-height: 1.8rem;
    padding: 12px 16px;
    width: 100%;
}

.plan-card--ca span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(/asets/icons/arrow-right.svg);
    background-size: cover;
    margin-left: 10px;
}

footer {
    background-color: var(--color-primary);
    height: 150px;
    display: flex;
    width: 100%;
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

footer .left ul li {
    margin: 10px 0;
}

footer .left ul li a {
    color: var(--color-light);
    text-decoration: none;
}

footer .rigth img {
    height: 24px;
}

footer .rigth p {
    color: var(--color-primary-soft);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.8rem;
    margin-top: 12px;


}

@media (min-width: 600px) {}